@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #131313;
}

body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: inherit; 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(126, 0, 0);
  border-radius: 3rem;
  height: 20px;
  /* border: 3px solid rgb(240, 194, 110); */
}

input {
  outline-color: rgb(150, 0, 0);
}

textarea {
  outline-color: rgb(146, 0, 0);
}

